@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
	width: 100% !important;
	font-family: "Inter", sans-serif !important;
	border: none !important;
}

.react-calendar__tile--now {
	background: #fae27c !important;
	color: black !important;
}

.react-calendar__tile--active {
	background-color: #c3ebfa !important;
	color: black !important;
}

.calendar__navigation__label__labelText {
	font-weight: 600;
}

.rbc-btn-group:first-child {
	display: none;
}

.rbc-toolbar-label {
	font-size: 14px !important;
	text-align: right !important ;
	padding: 0 20px !important;
}

.rbc-btn-group:last-child {
	font-size: 13px !important;
}
.rbc-btn-group:last-child button {
	border: none !important;
	background-color: #f1f0ff !important;
	margin-left: 2px !important;
}

.rbc-btn-group:last-child .rbc-active {
	background-color: #dbdafe !important;
	box-shadow: none;
}

.rbc-time-view {
	margin-top: 10px;
	border-color: #eee !important;
}

.rbc-allday-cell {
	display: none !important;
}

.rbc-time-content {
	border: none !important;
}

.rbc-time-gutter.rbc-time-column {
	font-size: 12px !important;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
	padding: 0 20px !important;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group .rbc-time-slot:last-child {
	display: none !important;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group .rbc-time-slot {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.rbc-timeslot-group,
.rbc-time-header {
	background-color: #f7fdff !important;
}

.rbc-day-slot {
	font-size: 14px !important;
}

.rbc-event {
	color: black !important;
	border: none !important;
	padding: 5px !important;
}

.rbc-event:nth-child(1) {
	background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
	background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
	background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
	background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
	background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
	background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
	background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
	background-color: #fdf2fb !important;
}

.rbc-event-label {
	color: gray !important;
	margin-bottom: 5px;
}

.rbc-events-container {
	margin-right: 0 !important;
}

/* mobile */

@media screen and (max-width: 768px) {
	.rbc-events-container .rbc-event {
		flex-direction: row !important;
		min-height: fit-content !important;
	}
	.rbc-event-content {
		min-height: fit-content !important;
	}

	.rbc-calendar {
		min-height: 85vh;
	}
	.rbc-toolbar {
		flex-direction: row !important;
		justify-content: space-between !important;
		margin-block: 10px !important;
	}

	.rbc-toolbar-label {
		flex: none !important;
		padding-left: 0 !important;
	}
}
